body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white; 
    margin: 0;
    background-image: url("./img/fundo-preto-com-foco-de-luz-3.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: scroll; 
}

.container {
    padding: 0px 50px;
    border: 1px solid white;
}

nav a:hover {
    color: blue;
}

li {
    font-size: 17px;
}

header img {
    width: 170px;
    height: 170px;
    border-radius: 100px;
    border: 3px solid silver;
}

.center {
    text-align: center;
}

.title {
    color: silver;
    text-align: center;
}

h2 {
    color: silver;
    text-decoration: underline;
    font-style: italic;
    text-align: center;
}

h3 {
    color: white;
}

p {
    margin: 0;
    color:white;
    margin-top: 0;
}

ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    align-items: center;
    padding: 16px;
}

a {
    color: white;
    text-decoration: none;
}

footer img {
    width: 40px;
    height: 40px;
}

p img {
    width: 16px;
    height: 16px;
}

footer {
    display: flex;
    justify-content: center;
}

footer a {
    margin: 20px;
    text-align: center;
}

footer p {
    margin-top: 2px;
}
